- content_for :hero do
  %h2
    Quotation
  %p
    Pick a found
    %select.fund_name
      - @funds.each do |fund|
        %option{:value => fund.id}
          = fund.name
    Favorites
    %select.fund_name
      - @user.funds.each do |fund|
        %option{:value => fund.id}
          = fund.name
  %p
    %script{:charset => "utf-8", :type => "text/javascript"}
      google.setOnLoadCallback(function(){ reDrawGraph(#{{ :name => @funds.first.name, :values => @funds.first.daily_value_variation }.to_json})});
    #chart_div{:style => 'width: 800px; height: 400px; margin: 0 auto;'}
