- content_for :hero do
  %select.fund_name
    - @funds.each do |fund|
      %option{:value => fund.id}
        = fund.name
  :javascript
    var algo = "";

  #chart_div{:style => 'width: 900px; height: 500px;'}

#menu1.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu1", :class => "btn btn-primary dropdown-toggle"}
    Dropdown
    %b.caret
  %ul.dropdown-menu
    %li
      %a{:href => "#"} Action
    %li
      %a{:href => "#"} Another action
    %li
      %a{:href => "#"} Something else here
    %li.divider
    %li
      %a{:href => "#"} Separated link

:javascript
  $('.dropdown-toggle').dropdown()
