- content_for :hero do
  %h2
    Quotation
  - @funds.each_with_index do |fund, index|
    %p{id: "fund#{index}", data: {title: fund.name, container: "container#{index}", xserie: fund.dates, "value-at-date" => fund.value_at_date.to_json, "daily-variation" => fund.daily_variation.to_json}}
      %div{id:"container#{index}", :style => "min-width: 400px; height: 400px; margin: 0 auto"}
