%form.navbar-search.pull-left{:action => 'login', :method => 'post'}
  %input.search-query{:placeholder => "Username", :type => "text"}
  %input.password-query{:name => "passoword", :type => "password"}